<ion-header>
  <ion-navbar>
    <ion-buttons start *ngIf="user && (user.requestsSent || user.requestsReceived)">
      <button ion-button tappable (click)="app.getRootNavs()[0].push('RequestsPage')" [disabled]="!network.online()"><ion-icon name="icon-user-request"></ion-icon><ion-badge item-right color="danger" *ngIf="user.requestsReceived">{{ user.requestsReceived.length }}</ion-badge></button>
    </ion-buttons>
    <ion-title><b>{{ 'contact.main.title' | translate }}</b></ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="app.getRootNavs()[0].push('SearchContactPage')" [disabled]="!network.online()"><ion-icon name="icon-add-user"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content [ngClass]="{'android': android}">
  <div *ngIf="contacts">
    <ion-searchbar [(ngModel)]="searchUser" [placeholder]="translate.get('home.search')"></ion-searchbar>
    <!-- No contact found with filter -->
    <div text-center class="empty" *ngIf="(contacts | usersFilter: [excludedIds, searchUser])?.length == 0">
      <ion-icon name="icon-empty-02"></ion-icon>
      <h2><b>{{ 'contact.main.empty.nocontactfound.title' | translate }}</b></h2>
      <p>{{ 'contact.main.empty.nocontactfound.text' | translate }}</p>
    </div>
    <ion-list>
      <ion-list-header *ngIf="(contacts | usersFilter: [excludedIds, searchUser])?.length > 0">
        <b>{{ translate.get('home.user') }}</b>
      </ion-list-header>
      <ion-item no-lines *ngFor="let user of contacts | usersFilter: [excludedIds, searchUser]" tappable (click)="viewProfile(user.userId)">
        <ion-avatar item-start>
          <img-loader [src]="user.photo"></img-loader>
        </ion-avatar>
        <h2 text-uppercase>{{ user.firstName }} {{ user.lastName }}</h2>
        <p text-lowercase>{{ user.username }}</p>
        <button ion-button item-end (click)="chat(user.userId); $event.stopPropagation();" [disabled]="!network.online()"><ion-icon name="icon-message"></ion-icon></button>
      </ion-item>
    </ion-list>
  </div>
  <!-- No contacts yet -->
  <div text-center class="empty" *ngIf="!contacts">
    <ion-icon name="icon-empty-03"></ion-icon>
    <h2><b>{{ 'contact.main.empty.nocontacts.title' | translate }}</b></h2>
    <p>{{ 'contact.main.empty.nocontacts.text' | translate }}</p>
    <button ion-button color="dark" (click)="app.getRootNavs()[0].push('SearchContactPage')" [disabled]="!network.online()"><b>{{ 'contact.main.empty.nocontacts.button' | translate }}</b></button>
  </div>
</ion-content>
