page-create-profile {
  div.profile {
    height: 20vh;
    background: color($colors, light-gray);
    position: relative;

    img {
      border-radius: 100%;
      max-height: 22vw;
      max-width: 22vw;
      width: 22vw;
      height: 22vw;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    img.activated,
    img:active {
      opacity: 0.75;
    }
  }

  div.form {
    width: 100vw;

    p {
      width: 88vw;
      margin-left: auto !important;
      margin-right: auto !important;
      color: color($colors, gray);

      span {
        color: color($colors, dark);
      }

      span.activated,
      span:active {
        opacity: 0.75;
      }
    }

    ion-list {
      margin-top: 2.5vh;

      ion-item {
        background: color($colors, light-gray) !important;
        margin-left: auto !important;
        margin-right: auto !important;
        font-size: 1.2rem !important;
        width: 88vw !important;
        height: 6.5vh !important;
      }

      ion-item.textarea {
        height: auto !important;
        ion-textarea {
          margin-left: -0.75vw;
        }
      }

      div.button {
        width: 100vw;

        button {
          color: color($colors, light);
          font-size: 1.2rem;
          width: 88vw;
          height: 6.5vh;
          border-radius: 0 !important;
          margin-bottom: 1vh;
        }
      }
    }
  }

  .android {
    ion-textarea {
      margin-left: 0 !important;
    }
  }
}
